<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />  
<link href="PATH_TO_INCLUDES/styles.css" media="screen" rel="stylesheet" type="text/css" />
<link href="PATH_TO_INCLUDES/print.css" media="screen,print" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="detail">
CONTENT
</div>
</body>
</html>